body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #3500f5);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}



.gift-img {
    margin: 20px auto;
    max-width: 600px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/LZElUsjl1Bu6c/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/SKjTHluaRvLG/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/mXnO9IiWWarkI/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/19JSJ5ucu91R5D7a3w/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/kyLYXonQYYfwYDIeZl/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
